/* define all colors as variables */
:root {
  --border: rgba(0, 0, 0, 0.2);
  --shadow: #000;
  --heading: #fff;
  --main: #1d8f13;
  --text: #000;
  --textAlt: #fff;
  --inactive: rgba(0, 0, 0, 0.3);
  --background: #fff;
}

/* elements that change color */
h1,
p, h2, h3, h4, .span-board {
  color: var(--text);
}

/* h2 { 
  color: var(--heading); 
} */

.Card,
.Switcher {
  border-color: var(--border);
}
.icon {
  color: var(--inactive);
}
.Card button {
  background: var(--main);
  color: var(--textAlt);
}

/* Transitons for smooth theme change */
*:not(body) {
  transition: all 0.5s ease;
}

/* All other styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Card {
  padding: 1%;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -10px black;
  margin-top: 3rem;
  margin-right: 1rem;
  height: auto;
  width: 300px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  background: var(--board-card);


  transition: 0.5s ease;
}

.Card:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.Card button {
  width: 100%;
  border-radius: 10px;
  height: 2rem;
  font-size: 1rem;
  box-shadow: 7px 7px 10px -10px black;
  font-weight: 700;
  border: none;
}

.Card .img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  opacity: 0.9;
  background: url("https://www.fullstacklabs.co/img/developersReact/whylove_3.png")
    center;
  background-size: cover;
}

div.img:hover {
  background-color:#000;
  opacity: 0.5;
  cursor: pointer;
}
/* div.img:hover ~ .dropdown-three-dots {
  visibility: visible;
} */

.Switcher {
  width: 4rem;
  height: 2rem;
  margin: 0.5rem 0.5rem;
  /* position: relative; */
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 4px 10px -3px black;
  /* background: none; */
  background-color: rgba(150, 145, 145, 0.3);
  padding: 0;
}

.Switcher:focus {
  outline: none;
}

.Switcher .icon {
  font-size: 1.3rem;
}

button {
  outline: none;
  cursor: pointer;
}

.active {
  color: var(--heading);
}



/* REMOVE OR NOT??? */

@media (min-width: 450px) {
  .App {
    margin: 5% 20%;
  }
}

@media (min-width: 700px) {
  .App {
    margin: 5% 30%;
  }
}

@media (min-width: 900px) {
  .App {
    margin: 5% 35%;
  }
}

@media (min-width: 1350px) {
  .App {
    margin: 5% 40%;
  }
}
