.title-class {
  margin-bottom: 40px;
  color:#032649;
  font-family: Trebuchet MS, sans-serif;
}

.copyright-style {
  color:#032649;
  font-family: Trebuchet MS, sans-serif;
  margin-top: 20px;
  font-weight: 600;
}

.button-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  margin-top: 1.2rem;
  width: 7rem;
}

.input-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  /* margin-top: 1.2rem; */
  width: 15rem;
}

.input-empty {
  border: solid 2px;
  border-color: #374785;
  border-radius: 0.25rem;
  height: 3rem;
  padding: 0.9rem 1.25rem 0;
}

div label {
  position: absolute;
  top: 0.625rem;
  left: 1.25rem;
  pointer-events: none;
  color: #8a8a8a;
  font-size: 1rem;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.input-container {
  position: relative;
  height: 75px;
}

input:valid ~ .label-class  {
  top: 0.4375rem;
  /* transform: translateY(-50%); */
  font-size: 0.7rem;
}

input:focus {
  outline: none;
}

 .div-form {
  width: 50%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 2rem auto;
  align-content: center;
  text-align: center;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
background: var(--gradient-back);
background: -moz-linear-gradient(top, var(--gradient-back) 0%, var(--gradient-8) 8%, var(--gradient-100) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, var(--gradient-back)), color-stop(8%, var(--gradient-8)), color-stop(100%, var(--gradient-100)));
background: -webkit-linear-gradient(top, var(--gradient-back) 0%, var(--gradient-8) 8%, var(--gradient-100) 100%);
background: -o-linear-gradient(top, var(--gradient-back) 0%, var(--gradient-8) 8%, var(--gradient-100) 100%);
background: -ms-linear-gradient(top,var(--gradient-back) 0%, var(--gradient-8) 8%, var(--gradient-100) 100%);
background: linear-gradient(to bottom, var(--gradient-back) 0%, var(--gradient-8) 8%,var(--gradient-100) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4d1d9', GradientType=0 );
 } 
 
