.div-profile-left {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.div-profile {
  display: inline-block;
  /* width: 400px; */
  vertical-align: top;
}

.margin-div-profile {
  margin-right: 4rem;
}

/* .title-profile {
  color: #032649;
  font-family: Trebuchet MS, sans-serif;
} */

.title-span {
  /* color: #032649;
  font-family: Trebuchet MS, sans-serif; */
  font-weight: 600;
}

.div-profile-left a {
  color: #032649;
  font-family: Trebuchet MS, sans-serif;
  font-size: 1.3rem;
}

.div-profile-left a:hover {
  text-decoration: none;
}

.div-profile-left span {
  font-weight: 600;
  font-size: 1.4rem;
  color: #234e7a;
}
.input-container-profile {
  position: relative;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  margin-top: 1.2rem;
  width: 15rem;
  height: 72px;
}

.input-profile {
  border-color: #374785;
  border-radius: 0.50rem;
  height: 3rem;
  padding: 0.9rem 1.25rem 0;
}

div label {
  position: absolute;
  top: 0.625rem;
  left: 1.25rem;
  pointer-events: none;
  color: #8a8a8a;
  font-size: 1rem;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.div-profile h3 {
  color: #032649;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
}

.height-important {
  height: 40.5px;
}

.delete-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.delete-btn-profile {
  height: 40.5px;
  width: 150px;
  font-size: 1.01rem !important;
}

.profile-button {
  box-shadow: inset 0px 1px 0px 0px var(--button-shadow);
  background: linear-gradient(
    to bottom,
    var(--linear-gradient-bottom) 5%,
    var(--linear-gradient) 100%
  );
  background-color: var(--linear-gradient-bottom);
  border: 1px solid var(--btn-border);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 10px;
}
.profile-button:hover {
  background: linear-gradient(
    to bottom,
    var(--linear-gradient) 5%,
    var(--linear-gradient-bottom) 100%
  );
  background-color: #374685;
}
.profile-button:active {
  position: relative;
  top: 1px;
}

.profile-button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.div-form-profile {
  width: 80%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 2rem auto;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
background: var(--gradient-back);
background: -moz-linear-gradient(top, var(--gradient-back) 0%, var(--gradient-8) 8%, var(--gradient-100) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, var(--gradient-back)), color-stop(8%, var(--gradient-8)), color-stop(100%, var(--gradient-100)));
background: -webkit-linear-gradient(top, var(--gradient-back) 0%, var(--gradient-8) 8%, var(--gradient-100) 100%);
background: -o-linear-gradient(top, var(--gradient-back) 0%, var(--gradient-8) 8%, var(--gradient-100) 100%);
background: -ms-linear-gradient(top,var(--gradient-back) 0%, var(--gradient-8) 8%, var(--gradient-100) 100%);
background: linear-gradient(to bottom, var(--gradient-back) 0%, var(--gradient-8) 8%,var(--gradient-100) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4d1d9', GradientType=0 );
 } 