
.heading-homepage {
  font-family: roboto;
  margin-top: 1rem;
  padding: 0rem 2rem;
  font-weight: 500;
  font-size: 3.5rem;
  text-shadow: 0px 1px 3px #383532;
  text-align: center;
}
.home-page-div {
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}
.card-home {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 20px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  margin-bottom: 1.5rem;

  transition: 0.5s ease;
  margin: 30px;
}
.card-home:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card-image {
  grid-area: image;
  background: url("../../../data/card-1.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
  color: black;
}
.card-stats {
  grid-area: stats;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #f76c6c;
}

.card-image.card2 {
  background: url("../../../data/card-2.jpg");
  background-size: cover;
}
.card-image.card3 {
  background: url("../../../data/card-3.jpg");
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center;
}
.card-image.card4 {
  background: url("../../../data/card-4.png");
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center;
}
.card-image.card5 {
  background: url("../../../data/card-5.png");
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center;
}
.card-image.card6 {
  background: url("../../../data/card-6.jpg");
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center;
}
.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
}

.wrap {
  margin: auto;
  display: flex;
}
.cont {
  /* position: relative; */
  height: 400px;
  width: 600px;
  left: calc(50% - 300px);
  display: flex;
  margin: auto;
}

.crd {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.crd:not(:first-child) {
  margin-left: -50px;
}

.crd:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.crd:hover ~ .crd {
  position: relative;
  left: 60px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 15px;
}
.cardP {
  font-family: "Open Sans", sans-serif;
  color: white;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
#homeHeading {
  margin-top: 10px;
  text-align: center;
}
.callAction {
  text-align: center;
  margin-bottom: 20px;
}

.large-btn {
  font-size: 1.5rem;
  text-decoration: none !important;
}

.large-btn:hover {
  color: #f76c6c;
}