
.navbar-color {
  background-color: #24305e;
}
.navbar-nav .dropdown-menu{
  text-align: center;
}
.nav-link {
  font-size: 1.3rem;
  color: #edf5e1 !important;
}

.nav-link:hover {
  color: #f76c6c !important;
}
.dropdown-menu {
  background-color: #374785 !important;
  
}

.dropdown-item {
  color: #edf5e1 !important;
  font-weight: 600 !important;
  
}

.dropdown-item:hover {
  background-color: #f76c6c !important;
}

.btn-logout {
  color: #edf5e1 !important;
  background-color: #374785 !important;
  font-weight: 500 !important;
}

.btn-logout:hover {
  background-color: #f76c6c !important;
 
}

.navbar-text {
  margin-right: 10px !important;
  color: #edf5e1 !important;
  font-size: 1.1rem;
}

.navbar-text-span {
  color: #61b9a8;
  font-weight: 500;
  font-size: 1.2rem;
 
}

.singed-in {
  color:#032649;
  font-family: Trebuchet MS, sans-serif;
}

.singed-in a {
  color: #79b1a6 !important;
}