.AppError {
    outline: 1px solid red;
    border-left: 5px solid red;
    padding: 10px;
    background-color: #eeeeee;
  }

.error-page {
  margin-top: 4rem;
  width: 60%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}