.footer-div {
  font-weight: 600;
  text-align: center;
  padding: 20px;
  /* vertical-align: bottom; */
  /* position: absolute;
  bottom: 0; */
  margin-top: 10px;
  background-color: #24305E;
}

.footer-footer, .paragraph-footer {
  color:#F8E9A1;
}

.logo-footer {
  -webkit-filter: grayscale(80%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(80%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(80%); 
  -o-transition: .5s ease-in-out;
  margin-right: 50px;
  margin-bottom: 30px;
}

.logo-footer:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
} 