.outer-div {
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 2px;
}

.name-div {
  cursor: pointer;
}


.singleboard-page-div {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.3fr 1.5fr 0.3fr;
  gap: 1px 1px;
  grid-template-areas:
    "chat buttons"
    "chat canvas"
    "footer footer";
}

.chat-component-div {
  grid-area: chat;
}
.toolbox {
  grid-area: buttons;
  margin-top: 2rem;
  margin-left: 1rem;
}

.stage-div {
  grid-area: canvas;
  border: 2px solid cadetblue;
  width: 100%;
}

.footer-div {
  grid-area: footer;
}

.brush-width-span {
  margin-left: 2rem;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 5px;
}

.zoom-span {
  font-weight: 600;
  color: var(--text);
  margin-bottom: 5px;
}
.item {
  background-color: var(--toolbox-background);
  border: 1px solid var(--linear-gradient-bottom);
  padding: 10px;
  text-align: center;
}

.space-margin {
  margin-right: 1rem;
}

.margin-btn {
  margin-left: 5px;
}

.div-btn-board {
  margin-left: 3rem;
  margin-top: 2rem;
  display: inline-block;
}

.heading-public-private-boards {
  font-family: roboto;
  text-align: center;
  text-shadow: 0px 1px 2px #383532;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.div-create {
  display: inline-block;
  margin-left: 3rem;
}

#create-form {
  border-radius: 5px;
  height: 33px;
}

.span-board {
  font-weight: 500;
}
