
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button.btn-chat {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);   
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

.chat-container {
	max-width: 600px;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: inline-block;
	grid-template-columns: 2fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 0px 0px 0px;
	/* overflow-y: scroll; */
	text-align: center;
	
}
#joinbtn {
margin: 5px;
}
.chat-sidebar h2 {
	border: 1px solid;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 5px;
	border-color: var(--chat-heading);
	color: var(--chat-text);
	font-family: 'Oswald', sans-serif;
}

.chat-sidebar h3 {
	margin-bottom: 10px;
}

.chat-sidebar ul li {
	padding: 0px 0;
}

.chat-messages {
	padding: 10px;
	max-height: 500px;
}
.chat-messages-box {
	padding: 10px;
	min-height: 290px;
	max-height: 290px; /*400*/
	overflow-y: auto; 
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	
}
.chat-messages .message p {
	color: black;
}
.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 20px;
	background-color: var(--dark-color-a);
	
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}
.chat-component-div {
	/* margin: 0px; */
	display: inline-block;
	
}
	


@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');