.three-dots:after {
  content: "\2026";
  font-size: 30px;
  color: white;
}

.dropdown-three-dots {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  /* visibility: hidden; */
}

a.anchor-dropdown {
  text-decoration: none !important;
}
